{
  "plugins": [
    ["module-resolver",
      {
        "root": ["./"],
        "alias": {
          "hex-island": "./"
        },
        "extensions": [".js", ".svg"]
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "next/babel",
  ]
}
