.component {
  color: red;
  text-decoration: none;
  text-shadow: rgb(0, 0, 0) 0px 1px 3px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  padding: 15px 35px;
  font-size: 18px;

  &:hover,
  &:focus {
    color: #a18d6c;
    background-color: #fff;
    opacity: 0.6;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
  }
}
