@import '../../styles/fonts.css';
@import '../../styles/typography.css';

body {
  margin: 0;
  text-shadow: 0 1px 3px rgba(0,0,0,1);
  @mixin typePrimary;
}

.component {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../../assets/images/sunset.jpg);
  background-size: cover;
  box-shadow: inset 0 0 100px rgba(0,0,0,1);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  @mixin typePrimary;
  font-weight: 400;
}
